<%-include ("partials/header.ejs")%>

<div class="container my-4">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">
        <h4><%=title %></h4>
      </div>
      <div class="card-body">
        <p style="white-space: pre-line;"><%=content %></p>
      </div>
    </div>
  </div>
  
  

<%-include ("partials/footer.ejs")%>